@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
	word-break: break-all;
}

.transparent-btn {
	@apply bg-transparent text-gray-300 capitalize font-poppins border border-gray-600 px-6 py-3 rounded-full hover:border-gray-300 transition-all;
}

.yellow-btn {
	@apply bg-yellow text-gray-800 font-semibold font-poppins border border-yellow px-6 py-3 rounded-full hover:bg-transparent hover:text-yellow transition-all;
}

.black-btn {
	@apply bg-darkBlue text-gray-100 font-semibold font-poppins border border-darkBlue px-10 py-3 rounded-full hover:bg-transparent hover:text-darkBlue transition-all;
}
.black-sm-btn {
	@apply bg-darkBlue border border-darkBlue text-white px-6 py-2 rounded hover:bg-transparent hover:text-darkBlue transition text-sm;
}

.btn {
	@apply flex items-center gap-3 font-poppins;
}

.input {
	@apply w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 placeholder-gray-400;
}

/* Swiper */

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	/* display: flex; */
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	/* justify-content: center; */
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	/* align-items: center; */
}

/* React select custom style */
.css-qbdosj-Input {
	visibility: visible;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: inline-grid;
	grid-area: 1/1/2/3;
	grid-template-columns: 0 min-content;
	margin: 2px;
	padding-bottom: 7px;
	padding-top: 8px;
	color: hsl(0, 0%, 20%);
	box-sizing: border-box;
}
